# The database name
DB_NAME=chronos

# The user that will be used for connecting to the database
DB_USER=chronos

# The password that will be used for connecting to the database
DB_PASS=secret

# The holiday profile that will be used. Comment this line for no holidays. Use
# chronosadmin --show-holidays to know what profiles are available.
HOLIDAYS=CA-QC

# Path to sendmail (/usr/sbin/sendmail by default)
SENDMAIL=/usr/sbin/sendmail
